{% extends 'workbase.html'%}
{% load static %}
{% block title %}Senah Park | BYU Marriott{% endblock %}

{% block hero-logo %} {% static 'img/byu/byumarriottlogo.png' %} {% endblock %}

{% block wb-hero-experience-desc %}Brand Management Strategy + Implementation{% endblock %}

{% block wb-hero-card-left-title %}OVERVIEW{% endblock %}
{% block wb-hero-card-left-description %}BYU Marriott seeks to develop their students into leaders of faith, intellect, and character.{% endblock %}
{% block wb-hero-card-left-goal %}The key focus of my initiatives is to better align the online and offline experiences of BYU Marriott students with the vision, mission, and values.{% endblock %}

{% block wb-hero-card-right-job-role %}ROLE{% endblock %}
{% block wb-hero-card-right-job-title %}Marketing Strategist{% endblock %}
{% block wb-hero-card-right-role-desc %}Engagement and campaign strategy, social media strategy, graphic design, event logistics, videography{% endblock %}
{% block wb-hero-card-right-date %}April 2021 - present{% endblock %}

{% block top-first-link-route %}{% url 'byu-insta' %}{% endblock %}
{% block top-first-link-innerhtml %}visit @byumarriottlife on instagram{% endblock %}

{% block top-second-link-route %}{% endblock %}
{% block top-second-link-innerhtml %}{% endblock %}

{% block left-one-photo %} {% static 'img/byu/iniative_ideation.png' %} {% endblock %}
{% block left-one-card-title %}Initiative Ideation{% endblock %}
{% block left-one-card-description %}In order to effectively enhance the student experience, we first brainstormed events, campaigns, and social media initiatives that best aligned with our goals. Ideas with merit were recorded in social media and event calendars.{% endblock %}

{% block right-one-photo %} {% static 'img/byu/collaboration.png' %} {% endblock %}
{% block right-one-card-title %}Cross-functional Collaboration{% endblock %}
{% block right-one-card-description %}To ensure smooth sailing across all marketing efforts, I collaborated across several teams, including the BYU Marriott marketing & communications department, dean’s office events team, and the student council. {% endblock %}

{% block left-two-photo %} {% static 'img/byu/communication.png' %} {% endblock %}
{% block left-two-card-title %}Communication Strategy{% endblock %}
{% block left-two-card-description %}Consistency and clarity was a priority across all marketing channels. All visual assets for BYU Marriott efforts were designed by me, including social media posts, digital signage, and physical flyers.{% endblock %}

{% block right-two-photo %} {% static 'img/byu/execution.png' %} {% endblock %}
{% block right-two-card-title %}Execution{% endblock %}
{% block right-two-card-description %}With the support of my team, I have successfully executed and supported large-scale events and social media campaigns for BYU Marriott. My attention to detail and creativity resulted in increased engagement and a positive impact on the BYU Marriott brand.{% endblock %}

{% block bottom-first-link-route %}{% url 'byu-insta' %}{% endblock %}
{% block bottom-first-link-innerhtml %}visit @byumarriottlife on instagram{% endblock %}

{% block bottom-second-link-route %}{% endblock %}
{% block bottom-second-link-innerhtml %}{% endblock %}

{% block content %}
{% endblock %}
