{% extends 'workbase.html'%}
{% load static %}
{% block title %}Senah Park{% endblock %}

{% block hero-logo %} {% static 'img/sc/samsclub.png' %} {% endblock %}

{% block wb-hero-experience-desc %}Campaign Strategy Formulation{% endblock %}

{% block wb-hero-card-left-title %}OVERVIEW{% endblock %}
{% block wb-hero-card-left-description %}Sam’s Club seeks to find innovative ways to provide additional value to their members.{% endblock %}
{% block wb-hero-card-left-goal %}The key goal of this project was to identify additional entry points to their members-exclusive rewards platform. Please note this strategy has not yet been implemented.{% endblock %}

{% block wb-hero-card-right-job-role %}ROLE{% endblock %}
{% block wb-hero-card-right-job-title %}Membership Intern{% endblock %}
{% block wb-hero-card-right-role-desc %}Affinity analysis, campaign placement strategy, analytics (SQL) result forecasting, visual design + flow{% endblock %}
{% block wb-hero-card-right-date %}May - August 2023{% endblock %}

{% block top-first-link-route %}{% endblock %}
{% block top-first-link-innerhtml %}{% endblock %}

{% block top-second-link-route %}{% endblock %}
{% block top-second-link-innerhtml %}{% endblock %}

{% block left-one-photo %} {% static 'img/sc/competitive_state.png' %} {% endblock %}
{% block left-one-card-title %}Current State + Competitive Analysis{% endblock %}
{% block left-one-card-description %}To best understand the platform and its features, I conducted a current state analysis of the Sam’s Club reward platform as well as similar competitor platforms. Features and pain points of each site were documented.{% endblock %}

{% block right-one-photo %} {% static 'img/sc/member_affinity.png' %} {% endblock %}
{% block right-one-card-title %}Member Affinity Analysis{% endblock %}
{% block right-one-card-description %}The target demographic of Sam’s Club have a unique set of characteristics and behaviors. I identified valuable current and future platform partners by leveraging affinity data of member spending and forecasted their added utility. These partners acted as a foundation for the next step in the process.{% endblock %}

{% block left-two-photo %} {% static 'img/sc/collection_ideation.png' %} {% endblock %}
{% block left-two-card-title %}Collection Ideation{% endblock %}
{% block left-two-card-description %}With everything in mind, I worked with my manager to decide which collection types would be most beneficial to Sam’s club members. Offers were curated surrounding each collection and strategically determined where to insert them on the native samsclub.com site to provide additional entry points to the platform. {% endblock %}

{% block right-two-photo %} {% static 'img/sc/entry_point.png' %} {% endblock %}
{% block right-two-card-title %}Entry Point and Site Mockup{% endblock %}
{% block right-two-card-description %}With collection types and placements defined, I worked with my team to wireframe the user journey and flow. The wireframe enabled me to create visual mockups for various collections and access locations on the samsclub.com site. {% endblock %}

{% block bottom-first-link-route %}{% endblock %}
{% block bottom-first-link-innerhtml %}{% endblock %}

{% block bottom-second-link-route %}{% endblock %}
{% block bottom-second-link-innerhtml %}{% endblock %}

{% block content %}
{% endblock %}
